body{
	font-family: 'Ubuntu', sans-serif;
}

.thumbnail img{
	height: 150px;
	width: 150px;
}

.thumbnail-hide{
	display: none;
}

.item-img{
	height: 230px;
	max-width: 100%;
}

.modal-body .well{
	height: 230px;
}

.item-hide{
	display:none;
}

.item{
	margin:0 10px;
}
.item img{
  display: block;
  width: 150px;
  height: 150px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    background-color:#e1e1e1;
}