body{
	font-family: 'Ubuntu', sans-serif;
}

.thumbnail img{
	height: 150px;
	width: 150px;
}

.thumbnail-hide{
	display: none;
}

.item-img{
	height: 230px;
	max-width: 100%;
}

.modal-body .well{
	height: 230px;
}

.item-hide{
	display:none;
}

.item{
	margin:0 10px;
}
.item img{
  display: block;
  width: 150px;
  height: 150px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #31708f;
}

.collapsible{
	padding: 0;
}

.col-eq-height {
	height: 215px;
}

.carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
.carousel-control.left {
    left: -60px;
}
.carousel-control.right {
    right: -60px;
}

.jumbotron{
	background-repeat: no-repeat;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/landing.jpeg");
	min-height: 800px;
	background-size: cover;
	color:#fff;
}

#index-nav{
	margin: 0;
	opacity: 0;
}

@media (max-width: 768px) {
	#index-description{
		display:none;
	}
	.jumbotron{
		min-height:400px;
	}
}