body{
	font-family: 'Ubuntu', sans-serif;
}

.thumbnail img{
	height: 150px;
	width: 150px;
}

.thumbnail-hide{
	display: none;
}

.item-img{
	height: 230px;
	max-width: 100%;
}

.modal-body .well{
	height: 230px;
}

.item-hide{
	display:none;
}
